.header-container {
  max-width: 1376px;
  background-color: #F72210;
  height: 80px;
  margin: auto;
}

.contain-logo {
  width: 396px;
  height: 60px;
}

.main-logo {
  fill: white;
}

.subscribe-login {
  align-self: end !important;
}

.subscribe {
  border-radius: 24px;
}

@media only screen and (max-width: 992px) {
  
  .header-container {
    height: 45px;
  }

  .contain-logo {
    width: 132px;
    height: 20px;
  }

  .subscribe-login {
    align-self: center !important;
  }

}

