body {
  max-width: 1310px;
  margin: auto;
  position: relative;
}

main {
  max-width: 1244px;
  margin: auto
}

a {
  color: #000;
}

.header-container {
  position: static;
  background-color: #F72210;
  height: 80px;
  margin: auto;
}

li {
  list-style: none;
}

.text-size-19 {
  font-size: 19px;
}

.text-size-18 {
  font-size: 18px;
}

.text-size-15 {
  font-size: 15px;
}

.link-size-19 a {
  font-size: 19px;
}

.link-size-22 a{
  font-size: 22px;
}

.link-size-16 a {
  font-size: 16px;
}

.link-size-17 a {
  font-size: 17px;
}

.contain-logo {
  width: 396px;
  height: 60px;
}

.main-logo {
  fill: white;
}

.subscribe-login {
  align-self: end !important;
}

.subscribe {
  border-radius: 24px;
}

.header-deco::before {
  content: " ";
  position: absolute;
  top: 80px;
  left: 95%;
  width: 5%;
  background-color: #F72210;
  border-left: 12px solid white;
  border-top: 12px solid #F72210;
}

.header-list {
  margin-right: 5%;
  padding: 0;
}

.header-list a {
  color: black;
}

.header-list a:hover {
  color: #F72210;
  cursor: pointer;
  text-decoration: none;
}

.trending-list {
  margin-right: 5%;
}

.trending-list a {
  color: #807F84;
}

.trending-list a:hover {
  color: #F72210;
  cursor: pointer;
  text-decoration: none;
}

.gray-text {
  color: #A0A0A0;
}

h2 {
  font-size: 16px;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.hover-red:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.more-stories img  {
    height: 95px;
    width: 95px;
    object-fit: cover;
    object-position: center center;
}

@media only screen and (max-width: 991px) {
  
  .header-container {
    height: 45px;
  }

  .contain-logo {
    width: 132px;
    height: 20px;
  }

  .subscribe-login {
    align-self: center !important;
  }

}

